@* bs5-navbar-background *@
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Cybersoft</a>
    <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId"
        aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation"></button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav me-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <NavLink class="nav-link active" activeClass="bg-warning text-white" href="/" aria-current="page"
                    Match="NavLinkMatch.All">Home <span class="visually-hidden">(current)</span></NavLink>
            </li>
            @* <li class="nav-item">
                <NavLink class="nav-link" activeClass="bg-warning text-white" href="/login">Login</NavLink>
            </li> *@
            @* <li class="nav-item">
                <NavLink activeClass="bg-warning text-white" class="nav-link" href="/register">Register</NavLink>
            </li>
            <li class="nav-item">
                <NavLink activeClass="bg-warning text-white" class="nav-link" href="/contact">Contact</NavLink>
            </li>

            <li class="nav-item dropdown">
                <NavLink class="nav-link dropdown-toggle" href="#" id="dropdownId" data-bs-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">Databinding</NavLink>
                <div class="dropdown-menu" aria-labelledby="dropdownId">
                    <NavLink class="dropdown-item" href="/data-binding">Data binding</NavLink>
                    <NavLink class="dropdown-item" href="/event-binding">Event binding</NavLink>
                </div>
            </li> *@
            <li class="nav-item">
                <NavLink activeClass="bg-warning text-white" class="nav-link" href="/contact-form">BT1</NavLink>
            </li>

            <li class="nav-item">
                <NavLink activeClass="bg-warning text-white" class="nav-link" href="/course-form">BT2</NavLink>
            </li>
        </ul>
        <form class="d-flex my-2 my-lg-0">
            <input class="form-control me-sm-2" type="text" placeholder="Search" />
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
                Search
            </button>
        </form>
    </div>
</nav>
